.App {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    
  }
  .top {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

  ul {
    display: show;
    text-align: center;
    color: white;
  }

  .boxesDiv{
    display: flex;
    flex-direction: row;
  }

  .boxes {
    background-image: linear-gradient(black, grey);
    margin: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .graveyard {
    display: flex;
    flex-direction: column; 
    color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 100px;
    border-style: solid;
    border-color: black;
    background-image: linear-gradient(purple, red, rgb(83, 83, 34));
    overflow: scroll;
  }

  .makeRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .graveyardLetters {
    padding: 1.5px;
    list-style-type: none;
    font-weight: bold;
  }
  
  .solveBox {
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    height: auto;
    width: auto;
  }

  .reloadFooter {
    height: auto;
    width: auto;
  }

  .fit {
    height: 100vh;
    width: 100vw;
  }

  .definitionBox{
    padding: 30px;
    color: red;
  }

  .middleDirectives{
    display: flex;
    flex-direction: row;
    color: rgb(121, 107, 107);

  }

  .directions{
    width: auto;
    height: 200px;
    overflow: scroll;
    padding: 20px;
  }